body {
    overflow: hidden; 
  }
label{
    font-size: 20px;
}
input{
    font-size: 18px;
}
h2{
    text-decoration: underline;
}
.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background: black;
  }